$color-primary: #008200;
$color-primary-dark: #005200;
$color-primary-light: #5eff5e;

$background-white: white;
$background-gray: #e6e6e6;

$font-black: black;
$font-grey-light: #b9b9b9;
$font-grey: #9b9b9b;
$font-green: #005200;
